html {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-family: "Source Sans Pro", arial, sans-serif;
    color: #F0F0F0;
    background-color: #181818;
    height: 100%;
}

#left {
    height: 100%;
    width: 66%;
    margin-left: 0;
    display: inline-block;
}

#right {
    height: 100%;
    width: 33%;
    margin: 0px auto;
    float: right;
    overflow: auto;
    overflow-x: hidden;
    display: inline-block;
    /*box-shadow: -5px grey;*/
}

#art-container {
    margin: 0 auto;
    max-width: 50%;
    /*box-shadow: 5px 5px rgba(255, 255, 255, 0.5); /* x, y, blur, spread, color */
}

#art-container > img {
    width: 100%;
}

h1 {
    font-weight: 500;
    margin-top: 1%;
    margin-bottom: 0;
    text-align: center;
    font-size: 2.6em;
}

h2 {
    font-size: 1em;
    margin-top: 0;
    font-weight: 200;
    font-style: italic;
    text-align: center;
}

/* ----------*/

#container {
  position:absolute;
  right: 0%;
  top: 10%;
  width: 33%;
  min-width: 500px;
  height: 80%;
}

#scrollbox {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: 0px auto;
  overflow: auto;
  overflow-x: hidden;
}

#container > p {
    background: #eee;
    color: #666;
    font-family: Arial, sans-serif;
    font-size: 0.75em;
    padding: 5px;
    margin: 0;
    text-align: right;
}
